<header class="app-header">
  <div class="header-content">
    <div class="logo-container" routerLink="/">
      <img src="/assets/graduation-hat.png" alt="Coursa Logo" class="logo-img" />
      <h2 class="logo-text">Coursa</h2>
    </div>
    <div class="auth-buttons" *ngIf="!user">
      <button mat-flat-button color="primary" class="login-btn" routerLink="/login">Log In</button>
    </div>
    <div *ngIf="user" class="user-avatar-menu">
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <ng-container *ngIf="!avatarLoadError; else fallbackIcon">
          <img [src]="user.picture" [alt]="user.name" class="avatar-img" (error)="onAvatarError()" />
        </ng-container>
        <ng-template #fallbackIcon>
          <mat-icon class="avatar-img">account_circle</mat-icon>
        </ng-template>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item disabled>
          <div class="menu-user-info">
            <ng-container *ngIf="!avatarLoadError; else fallbackMenuIcon">
              <img [src]="user.picture" [alt]="user.name" class="avatar-img-menu" (error)="onAvatarError()" />
            </ng-container>
            <ng-template #fallbackMenuIcon>
              <mat-icon class="avatar-img-menu">account_circle</mat-icon>
            </ng-template>
            <span class="menu-user-name">{{ user.name }}</span>
          </div>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/">Home</button>
        <button mat-menu-item routerLink="/my-courses">My Courses</button>
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item (click)="onLogout()">Logout</button>
      </mat-menu>
    </div>
  </div>
</header>
